<?xml version="1.0"?>
<launch>
  <arg name="fcu_url"/>
  <arg name="gcs_url"/>
  <arg name="machine"/>

  <arg name="config_root" default="$(dirname)/../configs"/>
  <arg name="config_yaml" default="$(arg config_root)/config.yaml"/>
  <arg name="pluginlists_yaml" default="$(arg config_root)/pluginlists.yaml"/>

  <arg name="target_system_id" default="1"/>
  <arg name="target_component_id" default="1"/>

  <arg name="log_output" default="log"/>
  <arg name="fcu_protocol" default="v2.0"/>
  <arg name="respawn_mavros" default="false"/>

  <node machine="$(arg machine)" pkg="mavros" type="mavros_node" name="mavros"
    required="$(eval not respawn_mavros)" respawn="$(arg respawn_mavros)"
    clear_params="true" output="$(arg log_output)">
    <param name="fcu_url" value="$(arg fcu_url)"/>
    <param name="gcs_url" value="$(arg gcs_url)"/>
    <param name="target_system_id" value="$(arg target_system_id)"/>
    <param name="target_component_id" value="$(arg target_component_id)"/>
    <param name="fcu_protocol" value="$(arg fcu_protocol)"/>

    <rosparam command="load" file="$(arg config_yaml)"/>
    <rosparam command="load" file="$(arg pluginlists_yaml)"/>
  </node>
</launch>
